<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS Files -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Lumini</title>
</head>

<body class="index-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg fixed-top bg-yellowgradient fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" target="_blank" style="font-size: 20px;color: #000000;font-weight: bold;">
                        LUMINI
                    </a>

                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar top-bar" style="background-color: #000;"></span>
              <span class="navbar-toggler-bar middle-bar" style="background-color: #000;"></span>
              <span class="navbar-toggler-bar bottom-bar" style="background-color: #000;"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg" style="color: #000;">
                <ul class="navbar-nav">
                    <li class="nav-item" style="color: #000;">
                        <a class="nav-link" href="#email" style="color: #000;">Back to Kit</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p style="color: #000;">
                                Contacte-nos
                            </p>

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="tel:55-1999836-4692" style="color: #000;">Telefone</a>
                            <a class="dropdown-item" href="#" style="color: #000;">Another action</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--FIM DA NAVBAR-->
    <div class="content-font">
        <div class="wrapper">
            <div class="page-header clear-filter" filter-color="dark">
                <div class="page-header-image" data-parallax="true" style="background-image:url('../img/file.jpg');">
                </div>
                <div class="container">
                    <div class="content-center">
                        <h1 class="h1-seo" style="color: #000;">Seja Bem-Vindo!</h1>
                        <h3 style="color: #000;">Conheça nosso trabalho</h3>
                        <button href="" class="btn btn-primary btn-round" type="button">
                            <i class="now-ui-icons ui-2_favourite-28"></i> Conheça nosso trabalho
                          </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" data-aos="fade-up">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <h2 class="title" style="text-align: center;">Nosso trabalho</h2>
                        <h5 class="description" style="text-align: center;">Trabalhamos com excelencia no ramo de aço-armado, com o melhor preço da regiao e com a assistencia sem igual!!</h5>
                        <div class="section section-team text-center">
                            <div class="container">

                                <div class="team">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4">
                                            <div class="card" data-aos="fade-up">
                                                <div class="card-header">
                                                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                                                        <li class="nav-item">
                                                            <i class="far fa-clock fa-6x" id="icones" data-aos="flip-left"></i>
                                                            <h5 class="title">Rapidez</h5>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="card-body">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content text-center">
                                                        <div class="tab-pane active" id="home" role="tabpanel">
                                                            <p class="description">Trabalhamos com rapidez e tendo em vista diminuição de tempo!
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card" data-aos="fade-up">
                                                <div class="card-header">
                                                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                                                        <li class="nav-item">
                                                            <i class="fas fa-hard-hat fa-6x" id="icones" data-aos="flip-left"></i>
                                                            <h5 class="title">Rapidez</h5>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="card-body">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content text-center">
                                                        <div class="tab-pane active" id="home" role="tabpanel">
                                                            <p class="description">Trabalhamos com rapidez e tendo em vista diminuição de tempo!
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card" data-aos="fade-up">
                                                <div class="card-header">
                                                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                                                        <li class="nav-item">
                                                            <i class="fas fa-money-bill-wave fa-6x" id="icones" data-aos="flip-left"></i>
                                                            <h5 class="title">Rapidez</h5>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="card-body">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content text-center">
                                                        <div class="tab-pane active" id="home" role="tabpanel">
                                                            <p class="description">Trabalhamos com rapidez e tendo em vista diminuição de tempo!
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-tabs" data-aos="fade-up">
            <div class="container">
                <div class="text-center">
                    <h2 class="title" data-aos="zoom-in">Materiais</h2>
                </div>
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                                    <i class="now-ui-icons objects_umbrella-13"></i> Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                                    <i class="now-ui-icons shopping_cart-simple"></i> Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                                    <i class="now-ui-icons shopping_shop"></i> Messages
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                                    <i class="now-ui-icons ui-2_settings-90"></i> Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <!-- Tab panes -->
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the
                                    furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel">
                                <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show
                                    people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                            </div>
                            <div class="tab-pane" id="messages" role="tabpanel">
                                <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the
                                    furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                            </div>
                            <div class="tab-pane" id="settings" role="tabpanel">
                                <p>
                                    "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that
                                    things could be at."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="section" style="padding-bottom: 10px;">
                <div class="container">
                    <div class="section-story-overview">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="image-container image-left" filter-color="black" data-aos="zoom-in" style="filter: grayscale(100%);background-image: url('../img/img1.jpg')">
                                    <!-- First image on the left side -->
                                    <p class="blockquote blockquote-primary" data-aos="zoom-in" style="margin-bottom: 10px;">Trabalhamos com :
                                        <br>
                                        <br>
                                        <small>Gerdau</small><br>
                                        <small>ArcelorMittal</small><br>
                                        <small>Sinubras</small>
                                    </p>
                                </div>
                                <!-- Second image on the left side of the article -->

                            </div>
                            <div class="col-md-5">
                                <!-- First image on the right side, above the article -->
                                <div class="image-container image-right" data-aos="zoom-in" style="margin-top: 40px; filter: grayscale(100%);background-image: url('../img/img2.jpg')"></div>

                                <p data-aos="zoom-in" style="margin-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit labore sequi, architecto eaque vel rem molestiae temporibus est, nisi saepe rerum quam explicabo consequatur neque totam debitis qui, quas reprehenderit.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="section-contact-us text-center " id="email" data-aos="fade-up" data-aos-delay="500">
            <div class="container">
                <form action="/contato" method="POST">
                    <h2 class="title " data-aos="fade-up" data-aos-duration="1000">Deseja fazer um orçamento com a gente?</h2>
                    <p class="description " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Preencha o formulário abaixo que entraremos em contato!</p>
                    <div class="row ">
                        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto ">
                            <div class="input-group input-lg ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">
							                  <i class="now-ui-icons users_circle-08 "></i>
						                    </span>
                                </div>
                                <input type="text " name="nome" class="form-control " placeholder="Nome... ">
                            </div>
                            <div class="input-group input-lg ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">
                                        <i class="fas fa-phone-alt"></i>
						                    </span>
                                </div>
                                <input type="text " name="telefone" class="form-control " placeholder="Telefone... ">
                            </div>

                            <div class="input-group input-lg ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text ">
							                  <i class="now-ui-icons ui-1_email-85 "></i>
						                    </span>
                                </div>
                                <input type="text " name="email" class="form-control " placeholder="Email... ">
                            </div>
                            <div class="textarea-container ">
                                <textarea class="form-control " name="observacao" rows="4 " cols="80 " placeholder="Observação(Localização,tipo de obra)... "></textarea>
                            </div>
                            <div class="send-button ">
                                <button type="submit" class="btn btn-primary btn-round btn-block btn-lg"></button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer footer-default ">
        <div class=" container ">
            <nav>
                <ul>
                    <li>
                        LUMINI - Aço Armado sob medida
                        </a>
                    </li>

                </ul>
            </nav>
            <div class="copyright " id="copyright ">
                &copy;
                <p>Designed by LCsX</p>

            </div>
        </div>

    </footer>

    <!--SCRIPTS - Para o UI-->
    <script src="../assets/js/core/jquery.min.js " type="text/javascript "></script>
    <script src="../assets/js/core/popper.min.js " type="text/javascript "></script>
    <script src="../assets/js/core/bootstrap.min.js " type="text/javascript "></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../assets/js/plugins/bootstrap-switch.js "></script>
    <script src="../js/fontawesome.js "></script>



    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../assets/js/plugins/nouislider.min.js " type="text/javascript "></script>

    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="../assets/js/plugins/bootstrap-datepicker.js " type="text/javascript "></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/now-ui-kit.js?v=1.2.0 " type="text/javascript "></script>
    <script>
        AOS.init({

            offset: 350, // offset (in px) from the original trigger point
            delay: 1, // values from 0 to 3000, with step 50ms
            duration: 1000, // values from 0 to 3000, with step 50ms
            easing: 'ease', // default easing for AOS animations
            once: true,
        });
    </script>
</body>

</html>